<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Core Tests New.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Core Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SHCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A04E4E91924C34600B766D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A04E4FF1924C3B500B766D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A04E51C1925B31800B766D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E2C69F51A2F74BC006CB02A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E2C69FF1A2F74BC006CB02A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E731FDC1A023EC500DCFB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8080DA817BF84CE006B68EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
